<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoanCalc_MVC</title>
    <script src="https://kit.fontawesome.com/fa5ceb67e1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoanCalc_MVC.styles.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png" />
    <link rel="manifest" href="~/images/site.webmanifest" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LoanCalc_MVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="LoanPage">The App</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://github.com/TSZI/LoanCalc_MVC">Git Repo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" href="https://tms-portfolio.netlify.app/#about-area">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto bg-dark py-1">
        <div class="container-fluid">
            <div class="row row-cols-1 row-cols-lg-3 gy-3 lh-base py-2 py-md-3">
                <div class="col d-flex align-items-center text-light order-last order-lg-first">
                    <div><span class="text-muted">&copy;2023</span> Troy Mitchel | tms@tmitchel.com</div>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-center">
                    <img src="~/images/logo_light.svg" alt="Harper Forester Logo" height="24" />
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-end social">
                    <div class="row">
                        <div class="col">
                            <a href="https://www.linkedin.com/in/troy-m-szatkowski/" target="_blank"><img src="" class="fab fa-linkedin fa-2x" /></a>
                        </div>
                        <div class="col">
                            <a href="https://github.com/TSZI" target="_blank"><img src="" class="fab fa-github fa-2x" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
